html, body, #root, .App {
  height:100%;
  background: #007bff!important;
}

main {
  background: white;
  width: 65%;
  margin: 2em auto;
}

input, textarea {
  width:100%;
}

section {
  margin: 1em;
  padding: 1em;
}

.display {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  /* height: 100%;
  min-width:250px; */
  flex: 0 1 24%;
  border: 2px solid black;
  margin: 1% 2% auto;
  display: flex;
  align-items: center;
  /* box-shadow: 2px 2px 1px 2px rgb(104, 108, 109); */
  background-color: rgba(101, 117, 117, 0.2);
  border-radius: 20px;
}

.card-title {
  margin:0;
  padding:0;
}



@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}